body{
    font-family: 'Lato', sans-serif;
    background: #132226;
}
h1 {
    font-size: 40px;
    margin-left:30px;
    color:white;
    position: relative;
    bottom:10px;
}
h2 {
    text-align: center;
    color:white;
}

div.titulo {
    text-shadow: 2px 4px 2px black;
    background: #132226;
    padding: 2px;
}

div.column1 {
    float: left;
    width:33.3%;
    background: #525b56;
    padding: 2px;
    border: 1px solid #201e1d;
}
div.column2{
    width:auto;
    background: #525b56;
    padding: 2px;
    border: 1px solid #201e1d;
}
div.cuerpo {
    border-bottom: 1px solid #201e1d;
    border-left: 1px solid #201e1d;
    border-right: 1px solid #201e1d;
    height:900px;
    background: #90867f;
    padding: 30px;
}
div.sub1{

}
#img_personaje {
    position: relative;
    width: 55px;
    left:30px;
    top:10px;
}

a:link {
    color:white;
    text-decoration: none;

}
a:visited {
    color: white;
}
a:hover {
    color: #fff5d3;

    font-weight: bold;

}